<% provide(:title, "Why CPS") %>
<section id="why-title" class="bg-dark-blue">
  <div class="container py-6">
    <div class="row text-center">
      <div class="offset-md-1 col-md-10 col-12">
        <h1 class="pb-4 text-white">3 in 4 Chicago Public schools students are economically disadvantaged</h1>
        <p class="p-large">The combination of an under-resourced school district and struggling families results in some startling systemic failures. 21.8 percent of CPS students will never graduate from high school, and only 63 percent of the high school graduates will attend college.</p>
      </div>
    </div>
  </div>
</section>
<section id="why-news">
  <div class="container py-6">
    <div class="row pb-6">
      <div class="offset-md-1 col-md-4 col-12 mobile-pb-4">
        <div class="card shadow">
          <div class="card-body">
            <p class="p-large">"First day of school, more than half of my kids didn't have a backpack and almost all of them came without supplies. I have students who have never even seen downtown."</p>
          </div>
          <div class="card-footer bg-blue text-center">
            <%= image_tag("elizabethmoss.png", class: "card-img") %>
            <p>Elizbaeth Moss, Teacher</p>
          </div>
        </div>
      </div>
      <div class="offset-md-1 col-md-6 col-12 align-self-center mobile-pb-4">
        <h2 class="pb-5 underline">Students Lack Resources</h2>
        <p>Many students lack access to basic resources including school supplies and to opportunities such as rich after school programs, trips to museums, and mentorship. Yet success in school is a direct link to success later in life with more steady employment, greater wages and higher self-confidence.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 align-self-center mobile-pb-4">
        <h2 class="pb-5 underline">Headlines Tell the Story</h2>
        <p>Over the past decade, dozens of schools have closed, enrollment has decreased, students experienced millions of dollars in budget cuts, and funding for after school programs were cut.</p>
      </div>
      <div class="col-md-6 col-12">
        <%= image_tag("why_news.png", style: "width: 100%;") %>
      </div>
    </div>
  </div>
</section>
<section id="why-video">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-6 col-12" style="padding-left: 0px !important;padding-right: 0px !important;">
        <%= link_to image_tag("stacy.jpg", alt: "Stacy Stewart", style: "width: 100%;") %>
      </div>
      <div class="col-md-6 col-12 bg-dark-blue text-center" style="padding: 60px !important;">
        <h4 class="text-white pb-4">"Our children are dealing with the violence in our community where you don't know if someone is going to violate your home, or you don't know if you're going to be challenged on the street by a gang member."</h4>
        <p style="font-size: 1.0rem;" class="pb-4">Stacy Stewart, Principal at Belmont Cragin Elementary</p>
        <a href="https://www.youtube.com/watch?v=PM2J8N46z-A" class="btn btn-primary btn-white" target="_blank"><i class="far fa-play-circle"></i> Hear Stacy's perspective</a>
      </div>
    </div>
  </div>
</section>