<% provide(:title, "Thanks for Contacting Us") %>
<section id="contacts-content">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12 text-center">
        <h4>Thanks for your message</h4>
        <p class="py-4"><i class="fas fa-check-circle" style="color: #02336c;font-size: 4.0rem;"></i></p>
        <p>Your message has been sent!</p>
        <p>One of our team members will be in touch with you shortly.</p>
      </div>
    </div>
  </div>
</section>